@mixin icon-styles {
  font-family: "Apple Chancery", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

@function icon-content($filename) {
  $char: "";

  @if $filename == arrow-long-left {
    $char: "\E001";
  }

  @if $filename == arrow-long-right {
    $char: "\E002";
  }

  @return $char;
}

@mixin icon($filename, $insert: before) {
  &:#{$insert} {
    @include icon-styles;
  }
  content: icon-content($filename);
}

.icon-arrow-long-left {
  @include icon(arrow-long-left);
}

.icon-arrow-long-right {
  @include icon(arrow-long-left);
  rotate: 180deg;
}