/* ---- Print ---- */

@media print {
  @page { margin: 0; padding: 0; }

  // Structure
  body { background: $white !important; padding: 0; margin: 0;}
  .footer-wrap { display: none !important; }

  // Commons
  .table-section  { box-shadow: none !important; border-radius: 0 !important; border: 0 !important; padding: 0!important;}

  .intro-p-section {
    margin-bottom: rem(20px) !important;
  }

  // Info
  .info-p-list {
    margin-bottom: rem(30px) !important;
    li { display: block !important; float: none !important;
      +li {
        margin-top: rem(20px) !important;
      }

      &:before { display: none !important;}
    }
  }

  // Table
  .default-table thead th , .default-table tbody td { padding: rem(6px) rem(20px);}
  .default-table tbody td.td-180 { width: 300px !important;}
  .default-table tbody td.td-attribut { padding-left: rem(50px) !important;}
  .table-instance-section, .into-p-title, .info-p-list, .footer-wrap { padding: 0 rem(40px) !important;}

  // Link
  .ext-link {
    &:after, &:before { display: none !important;}
  }
}
