<div class="modal alert-modal fade" id="ConfirmationModal" tabindex="-1" aria-labelledby="ConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Close -->
      <button type="button" class="btn btn-close" data-bs-dismiss="modal"><i class="icon-close"></i> <span class="visually-hidden">Fermer</span></button>

      <!-- Content -->
      <div class="modal-body">
        <form class="" action="index.html" method="post">
          <div class="modal-icons" style="background-image:url('{{ asset('images/icons/confirmation-icons.svg') }}')"></div>
          <div class="modal-action-text">
            Souhaitez-vous quitter la page sans enregistrer ?
          </div>
          <div class="modal-actions">
            <button type="button" class="btn btn-grey-20">Quitter</button>
            <button type="button" class="btn btn-success btn-icon-left"><i class="icon-check-round"></i>Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>