{% extends 'base.html.twig' %}

{% block body %}

    <div style="margin: auto; height:100%; min-height: 400px;display: flex;flex-direction: column;justify-content: center;align-items: center; gap: 30px;">
        <h1 style="font-size:100px">Page 4<img src="/images/IMG_0144-preview.png" style="width: 70px;"/>4</h1>

        <p>
            Oupsss... cette page n'existe pas !!<br/>
        </p>

        <a href="/offers" class="btn btn-primary">Retournez à l'accueil</a>

    </div>
{% endblock %}
