<!-- Add Instance Modal -->
<div class="modal fade" id="instanceModal" tabindex="-1" aria-labelledby="instanceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Close -->
      <button type="button" class="btn btn-close" data-bs-dismiss="modal"><i class="icon-close"></i> <span class="visually-hidden">Fermer</span></button>

      <!-- Content -->
      <div class="modal-body">
        {% include 'modals/instance/modal.instance.form.html.twig' %}
      </div>

    </div>
  </div>
</div>
