{% extends 'base.html.twig' %}

{% block title %}Create offer{% endblock %}

{% block body %}
    <h1>Create offer</h1>

    {{ form_start(offerForm) }}
    <button type="submit" class="btn">Register</button>
    {{ form_end(offerForm) }}
{% endblock %}
