<div class="modal fade" id="serverModal" tabindex="-1" aria-labelledby="serverModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Close -->
      <button type="button" class="btn btn-close" data-bs-dismiss="modal"><i class="icon-close"></i> <span class="visually-hidden">Fermer</span></button>

      <div class="modal-body">
        {% include 'modals/server/modal.server.form.html.twig' %}
      </div>
    </div>
  </div>
</div>