{% extends 'base.html.twig' %}

{% block title %}Questions & Reponses{% endblock %}

{% block body %}
    {{ form_start(questionForm) }}
    {{ form_widget(questionForm) }}
    <button type="submit" class="btn btn-warning">Poster</button>
    {{ form_end(questionForm) }}

{% endblock %}
